# Ігноруємо директорії CMake та результати збірки
cmake-build-*

# Ігноруємо файли налаштувань IDE
.idea/

# Ігноруємо файли компіляції
*.o
*.obj
*.so
*.dylib
*.dll

# Ігноруємо тимчасові файли
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Ігноруємо результуючі бінарні файли
*.exe
*.out
*.a
*.lib

cmake-build-debug
